.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
}

.footerGreen {
  color: #1ed15e;
}

.footerLeft {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footerAlbumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footerSongInfo > h4 {
  margin-bottom: 5px;
}

.footerSongInfo > p {
  font-size: 12px;
}

.footerCenter {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footerIcon:hover, .footerGreen:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footerRight {
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerRight * .MuiSlider-root {
    color: green;
}
