.sidebar {
  height: 100vh;
  min-width: 230px;
  flex: 0.2;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #040404;
}

.sidebarLogo{
    margin-right: auto;
    height: 70px;
    padding: 10px;
}